* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.bannar {
    background: url(../images/banner/banner3.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat, repeat;
    height: 700px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 50px;
}

.bannar-info {
    text-align: right;
    color: #fff;
}

.bannar-info h1 {
    font-size: 60px;
}

.btn {
    padding: 8px 30px;
    border: 0;
}

.btn:hover {
    background-color: #94bcdf;
    color: #fff;
}

.btn-blue {
    background-color: #0258A5;
    color: #fff;
}

.business-info {
    padding: 80px 0 50px;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.info-image img {
    max-width: 80%;
    height: auto;

}

.info-text {
    padding-left: 50px;
}

.info-text h2 {
    font-size: 40px;
}

.info-list {
    margin-left: 20px;
    list-style: disc;
}

.my-plan {
    padding: 80px 0;

}

.my-plan h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;

}

.my-plan-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.web,
.js,
.smoke,
.ecom {
    text-align: center;
}

.call-to-acation {
    background: url(../images/watch.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat, repeat;
    height: 300px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;


}

.call-to-acation-info {
    padding: 0 90px;

}

.call-to-acation-info h2 {
    color: #fff;
    font-size: 30px;
}

.footer {
    background-color: black;
    padding: 80px 0;
    margin-top: 80px;
}

.footer-info {
    max-width: 1240px;
    padding: 0 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer-info .feature p {
    font-size: 14px;
}

input {
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 25px;
}